<html>
  <head>
    <title>Homepage</title>
    <link rel="stylesheet" href="">
  </head>
  <body>
    <h1><%= title %></h1>
    <h2>Message Details</h2>
    <%- include('navbar', {links: links}) %>
    <div>
      <p>User: <%= message.user %></p>
      <p>Text: <%= message.text %></p>
      <p>Date Sent: <%= message.added %></p>
    </div>
  </body>
</html>